<h2> List of Projects: </h2>

<ul>
	<% @projects.each do |project| %>

		<% if project.description != nil && project.description != "" %>

			<li> <%= link_to project.name, project_path(project) %> - <i> <%= project.description %> </i> </li>

		<% else %>	

			<li> <%= link_to project.name, project_path(project) %> </li>

		<% end %>

	<%= link_to("See Time Entries", project_time_entries_path(project)) %>

	<% end %>

</ul>

<%= link_to "Create a new project", projects_new_path %>
