<h1> Music Concert Network </h1>
<h2> Concerts: </h2>

<ul>
	<% @concerts.each do |one_concert| %>
		
		<li>
			<b> <%= one_concert.artist %> </b>
		</li>

		<div>
			 Venue: <i> <%= one_concert.venue %> </i>
		</div>

		<div>	
			 City: <i> <%= one_concert.city %> </i>
		</div>

		<div>
			 Date: <i> <%= one_concert.date %> </i>
		</div>

		<div>
			Price: <i> $<%= one_concert.price %> </i>
		</div>

		<div>
			 Description: <i> <%= one_concert.description %> </i>
		</div>
		<BR>
	<% end %> 
</ul>



<nav>
	<%= link_to "Home", "/" %>
	-
	<%= link_to "Add Concert", "/concerts/new" %>
</nav>


