
<h2> Add a Concert: </h2>

<% if @the_concert.errors.any? %>
	<ul>
		<% @the_concert.errors.full_messages.each do |error_msg|%>
			<li> <%= error_msg %> </li>
		<% end %>
	</ul>
<% end %>



<%= form_for @the_concert do |f| %>

	<div>
		<%= f.label :artist %>
		<%= f.text_field :artist %>
	</div>

	<div>
		<%= f.label :venue %>
		<%= f.text_field :venue %> 
	</div>

	<div>
		<%= f.label :city %>
		<%= f.text_field :city %> 
	</div>

	<div>
		<%= f.label :date %>
		<%= f.datetime_field :date %> 
	</div>

	<div>
		<%= f.label :price %>
		<%= f.number_field :price %> 
	</div>

	<div>
		<%= f.label :description %>
		<%= f.text_area :description %> 
	</div>

	<%= f.button %> 

<% end %>



