
<h2> <i> Presenting </i> <%= @concert.artist %> <i> at <%= @concert.venue %> </i> </h2>

	<div>

	 Join us for a night of <%= @concert.description %>
		
	</div>

	<div>
		<p>	
			 <%= @concert.city %> on <%= @concert.date %> 
		</p>

		<p>
			<i> tickets: $<%= @concert.price %> </i>
		</p>
	</div>
		

<%= link_to "see comments", concert_comments_path(@concert.id) %>
