
<h2> Concerts: </h2>

	<div>
		<li> <b> <%= @concert.artist %> </b> </li>

		<div>
			 Venue: <i> <%= @concert.venue %> </i>
		</div>

		<div>	
			 City: <i> <%= @concert.city %> </i>
		</div>

		<div>
			 Date: <i> <%= @concert.date %> </i>
		</div>

		<div>
			Price: <i> $<%= @concert.price %> </i>
		</div>

		<div>
			 Description: <i> <%= @concert.description %> </i>
		</div>
	</div>	

