<!DOCTYPE html>
<html>
  <head>
    <title>Sandwichr</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <h1> Sandwichr </h1>

      <% if notice %>
        <p class="notice"> <%= notice %> </p>
      <% end %>

       <% if alert %>
        <p class="alert"> <%= alert %> </p>
      <% end %>

    <%= yield %>

    <footer> 
      <p> Made with &hearts; and &#9749; at Ironhack. </p>
    </footer>

  </body>
</html>
