<h2 data-id="<%= @sandwich.id %>"> <%= @sandwich.name %> </h2>


	
<h3> Bread: <%= @sandwich.bread_type %> </h3>
<h3> Calories: <cal class="js-total-cal"> <%= @sandwich.total_calories %> </cal> </h3>
<h3> Current Ingredients: </h3> 
	<ul class="js-current-ingredient-list">
		<% @sandwich.ingredients.each do |ingredient| %>
		<li> 
			<%= ingredient.name %>
		</li>
		<% end %>
	</ul>

<section class="add-more-ingredients-wrapper">
	<h3> Add More Ingredients: </h3> 	
		<ul>
			<% @possibleIngredients.each do |ingredient| %>
			 
			<button class="js-add-ingredient" data-id="<%= ingredient.id %>">
				<%= ingredient.name %> -- cal: <%= ingredient.calories %>	
			</button>		
			
			<% end %>
		</ul>
</section>		

<nav>	
	<%= link_to "Sandwich List", sandwiches_path %>
	
	<%= link_to "Home", root_path %>
</nav>


