<!DOCTYPE HTML5>

<html>

	<body ALIGN=Center>

		<h1>Results!</h1>


		<h2>The 9 Movies:</h2>


		<p> Which of these movies was released in 
			<%= @random_year %>?
	
		<form action="/searching" method="get">
		
		<label for="word">Choose a word:</label>
		<input type="text" id="word" name="select_word" placeholder="Funny"> 
			
		<button type="submit">Find movies</button>
		
			
		</form>

		</p>
		<!-- 
			<% @nine_movies.each do |movie| %>

				<li> 
				<img src= "<%= movie.poster %>" >
				</li>

			<% end %> -->


			<% @nine_movies.each do |movie| %>
					
					<form action="/answer" method="post">

						<input type="hidden" name="correct_year" value= "<%= @random_year %>"> 
						<input type="hidden" name="movie_year" value="<%= movie.year %>">

						<button type="submit"><img src= "<%= movie.poster %>" ></button>
					
					</form>
			<% end %>


		<p> <a href="/"> Home </a> </p>

	</body>
</html>


			