<h2> Project Details </h2>

<h3> <strong> <%= @my_project.name %> </strong> </h3>

<ul>
	<% @my_entries.each do |entry| %>
		<li>
			<%= entry.hours %> h
			<%= entry.minutes %> m - 
			<%= entry.date %> - 
			<i> <%= entry.comments %> </i>

			<%= link_to "Edit", edit_project_time_entry_path(@my_project, entry) %>

		</li>
	<% end %>
</ul>

<%= link_to "Add a new time entry", new_project_time_entry_path(@my_project) %>