
<% if @my_entry.errors.any? %>
	<ul>
		<% @my_entry.errors.full_messages.each do |error_msg|%>
			<li> <%= error_msg %> </li>
		<% end %>
	</ul>
<% end %>

<%= form_for [@my_project, @my_entry] do |f| %>
	<%= f.label :hours %>
	<%= f.number_field :hours %>
	
	<br> 

	<%= f.label :minutes %>
	<%= f.number_field :minutes %>
	
	<br> 

	<%= f.label :comments %>
	<%= f.text_area :comments %>
	
	<br> 

	<%= f.label :date %>
	<%= f.date_field :date %>

	<br> 

	<%= f.button %>

<% end %> 